In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "raw_data/schools_complete.csv"
student_data_to_load = "raw_data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

#Combine Both Tables
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# DISTRICT SUMMARY

# Calculate the Total Schools 
school_count = len(school_data_complete["school_name"].unique())

# Calculate the Total Students
student_count = school_data_complete["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data["budget"].sum()

# Calculate Avg Math Score 
avg_math_score = student_data["math_score"].mean()

# Calculate Avg Reading Score
avg_reading_score = student_data["reading_score"].mean()

# Calculate the Overall Passing Rate
overall_pass_rate = (avg_math_score + avg_reading_score) / 2 

# Calculate % of Students who Passed Math
passed_math_total = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passed_math_percent = passed_math_total / float(student_count) * 100

# Calculate % of Students who Passed Reading
passed_reading_total = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passed_reading_percent = passed_reading_total / float(student_count) * 100

# Calculate the Overall Passing Rate
overall_pass_rate = (avg_math_score + avg_reading_score) / 2 

# Create DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                 "Total Students": [student_count],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [avg_math_score],
                                 "Average Reading Score": [avg_reading_score],
                                 "Percent of Students who Passed Math": [passed_math_percent],
                                 "Percent of Students who Passed Reading": [passed_reading_percent],
                                 "Percent of Students who Passed Both Math and Reading": [overall_pass_rate]})

# Format our Outcomes Properly 
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)  
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:,.2f}".format) 
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:,.2f}".format) 
district_summary["Percent of Students who Passed Math"] = district_summary["Percent of Students who Passed Math"].map("{:,.2f}".format) 
district_summary["Percent of Students who Passed Reading"] = district_summary["Percent of Students who Passed Reading"].map("{:,.2f}".format) 
district_summary["Percent of Students who Passed Both Math and Reading"] = district_summary["Percent of Students who Passed Both Math and Reading"].map("{:,.2f}".format)

# Call our Data Frame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent of Students who Passed Math,Percent of Students who Passed Reading,Percent of Students who Passed Both Math and Reading
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98,85.81,80.43

In [72]:
# SCHOOL SUMMARY 

# Group by School Name 
schools_grouped = school_data_complete.groupby(["school_name"])

# List School Types
school_type = schools_grouped["type"].first()

# Calculate Total Students for Each School
total_students = schools_grouped["Student ID"].count()

# Calculate Total Budget for Each School
school_total_budget = schools_grouped["budget"].sum()

# Calculate Per Student Budget for Each School
per_student_budget = list(school_data["budget"] / school_data["size"])

# Calculate Average Math Score for Each School
avg_math_score_by_school = list(school_summary.math_score.mean())

# Calculate Average Reading Score for Each School
avg_reading_score_by_school = list(school_summary.reading_score.mean())

# Calculate Percent of Students who Passed Math for Each School
passed_math = school_data_complete[school_data_complete["math_score"] >= 70].groupby(["school_name"])["math_score"].count()
percent_passed_math = passed_math / total_students * 100

# Calculate Percent of Students who Passed Reading for Each School
passed_reading = school_data_complete[school_data_complete["reading_score"] >= 70].groupby(["school_name"])["reading_score"].count()
percent_passed_reading = passed_reading / total_students * 100

# Calculate Percent of Students who Passed Both Math and Reading for Each School
percent_passed_both = (percent_passed_math + percent_passed_reading) / 2

# Display the Results in a DataFrame
school_summary_df = pd.DataFrame({"School Type": school_type,
      "Total Students": total_students,
      "Total School Budget": school_total_budget,
      "Per Student Budget": per_student_budget,
      "Average Math Score": avg_math_score_by_school,
      "Average Reading Score": avg_reading_score_by_school,
      "% Passing Math": percent_passed_math,
      "% Passing Reading": percent_passed_reading,
      "% Overall Passing": percent_passed_both})

#Format the Results
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)  
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)  
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:,.2f}".format) 
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:,.2f}".format) 
school_summary_df["% Passing Math"] = school_summary_df["% Passing Math"].map("%{:,.0f}".format) 
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("%{:,.0f}".format) 
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("%{:,.2f}".format)

school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$15,549,641,728.00",$655.00,77.05,81.03,%67,%82,%74.31
Cabrera High School,Charter,"1,858","$2,009,159,448.00",$639.00,83.06,83.98,%94,%97,%95.59
Figueroa High School,District,"2,949","$5,557,128,039.00",$600.00,76.71,81.16,%66,%81,%73.36
Ford High School,District,"2,739","$4,831,365,924.00",$652.00,77.10,80.75,%68,%79,%73.80
Griffin High School,Charter,"1,468","$1,346,890,000.00",$625.00,83.35,83.82,%93,%97,%95.27
Hernandez High School,District,"4,635","$14,007,062,700.00",$578.00,77.29,80.93,%67,%81,%73.81
Holden High School,Charter,427,"$105,933,149.00",$582.00,83.80,83.81,%93,%96,%94.38
Huang High School,District,"2,917","$5,573,322,295.00",$628.00,76.63,81.18,%66,%81,%73.50
Johnson High School,District,"4,761","$14,733,628,650.00",$581.00,77.07,80.97,%66,%81,%73.64
Pena High School,Charter,962,"$563,595,396.00",$609.00,83.84,84.04,%95,%96,%95.27
Rodriguez High School,District,"3,999","$10,186,904,637.00",$583.00,76.84,80.74,%66,%80,%73.29
Shelton High School,Charter,"1,761","$1,860,672,600.00",$637.00,83.36,83.73,%94,%96,%94.86
Thomas High School,Charter,"1,635","$1,705,517,550.00",$650.00,83.42,83.85,%93,%97,%95.29
Wilson High School,Charter,"2,283","$3,012,587,442.00",$644.00,83.27,83.99,%94,%97,%95.20
Wright High School,Charter,"1,800","$1,888,920,000.00",$638.00,83.68,83.95,%93,%97,%94.97

In [81]:
# Rank top Five Schools by Overall Passing Rate
school_summary_df = school_summary_df.sort_values(["% Overall Passing"], ascending=False)

top_schools = school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]].head()

top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$2,009,159,448.00",$639.00,83.06,83.98,%94,%97,%95.59
Thomas High School,Charter,"1,635","$1,705,517,550.00",$650.00,83.42,83.85,%93,%97,%95.29
Griffin High School,Charter,"1,468","$1,346,890,000.00",$625.00,83.35,83.82,%93,%97,%95.27
Pena High School,Charter,962,"$563,595,396.00",$609.00,83.84,84.04,%95,%96,%95.27
Wilson High School,Charter,"2,283","$3,012,587,442.00",$644.00,83.27,83.99,%94,%97,%95.20

In [82]:
# Rank Worst Five Schools by Overall Passing Rate
school_summary_df = school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools = school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]].head()

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$10,186,904,637.00",$583.00,76.84,80.74,%66,%80,%73.29
Figueroa High School,District,"2,949","$5,557,128,039.00",$600.00,76.71,81.16,%66,%81,%73.36
Huang High School,District,"2,917","$5,573,322,295.00",$628.00,76.63,81.18,%66,%81,%73.50
Johnson High School,District,"4,761","$14,733,628,650.00",$581.00,77.07,80.97,%66,%81,%73.64
Ford High School,District,"2,739","$4,831,365,924.00",$652.00,77.10,80.75,%68,%79,%73.80